<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Homepage</title>
  </head>
  <body>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <h1>You Serched For : <%= data.userQuery %></h1>
        <% if(data.loggedIn) { %>
        <h2>You are logged in as : <%= data.username %></h2>
        <%}%>
        <ul>
          <% data.searchResults.forEach(result=>{ %>
          <li><%= result %></li>
          <% }); %>
        </ul>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script>
      function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
          indexed_array[n["name"]] = n["value"];
        });

        return indexed_array;
      }

      $(document).ready(() => {
        $("#form").submit((e) => {
          e.preventDefault();
          $.ajax({
            url: "/",
            type: "post",
            contentType: "application/json",
            //data: JSON.stringify($("#form").serializeArray()),
            data: JSON.stringify(getFormData($("#form"))),
            success: (response) => {
              console.log("successfully got response");
              console.log(response);
            },
          });
        });
      });
    </script>
  </body>
</html>
